<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reg.log.css">
    <title>Login</title>
</head>
<body>
    <div class="login">
      <div class="logo"><a href="/home"><img class="logo" src="./assets/logo.png" alt="logo"></a></div>
        <h1>Please Register</h1>
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required="required" />
              <input type="password" name="password" placeholder="Password" required="required" />
              <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
          </form>
          <br>
          <a href="/register">Back To Home</a>
      </div>
</body>
</html>